.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 0.75rem 1.5rem;*/
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 64px;
    
  background-color: transparent;
}

.header__logo img {
  height: 75px;
  width: auto;
}

.header__github a {
  color: #111827;
  transition: color 0.2s ease;
}

.header__github a:hover {
  color: #2563eb;
}

.github-icon {
  width: 30px;
  height: 30px;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .header__logo img {
    height: 30px;
  }

  .github-icon {
    width: 24px;
    height: 24px;
  }
}
