/* 1. Basic Reset and Setup */
html, body {
  margin: 0;
  padding: 0;
  
  min-height: 100vh;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge legacy */
}

body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}